@{
  Layout = "_Layout";
}

@model UniRegistrar.Models.Course

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CourseName)
  @Html.TextBoxFor(model => model.CourseName)

  @Html.LabelFor(model => model.CourseNumber)
  @Html.TextBoxFor(model => model.CourseNumber)

  @Html.LabelFor(model => model.CourseDescription)
  @Html.TextBoxFor(model => model.CourseDescription)

  <input type="submit" value="Add a new course" />
}

<ul class="menu-links">
  <li>@Html.ActionLink("See Course Catalog", "Index")</li>
</ul>
