@{
  Layout = "_Layout";
}

@model UniRegistrar.Models.Student

<h4>Register a new student</h4>

@using (Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.StudentName,  new { @class = "form-control", required = "required"})

  @Html.Label("Enrollment date")
  @Html.TextBoxFor(model => model.EnrollmentDate, new { @type = "date", @class = "form-control datepicker", required = "required" })

  @Html.Label("Select Major")
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Complete registration" class="btn btn-default" required="true" />
}

<p>@Html.ActionLink("Back to Student Directory", "Index")</p>