@{
  Layout = "_Layout";
}

@model UniRegistrar.Models.Student

<h2>Student Details</h2>

<h3>@Html.DisplayFor(model => model.StudentName)<h3>
<p>Enrollment date: @Model.EnrollmentDate.ToShortDateString()</p>
<p>Major: @Html.ActionLink($"{Model.Department.DepartmentName}", "Details", "Departments", new {id = Model.Department.DepartmentId})</p>

@if(@Model.JoinEntities.Count ==0)
{
  <p>This student does not belong to any courses</p>
}
else
{
  <h4>Courses this student belongs to:</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Course.CourseName</li>
      @using (Html.BeginForm("DeleteCourse", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete Course" />
      }
    }
  </ul>
}

<ul class="menu-links">
  <li>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</li>
  <li>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</li>
  <li>@Html.ActionLink("Add a course", "AddCourse", new {id = Model.StudentId })</li>
  <li>@Html.ActionLink("Back to student directory", "Index")</li>
</ul>
